/* VARIABLES */
@-webkit-keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* SITE */
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Commissioner', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #fafafa;
}

button {
  font-family: 'Commissioner', sans-serif;
}

/* NAV */
nav {
  position: relative;
  height: 30rem;
  padding: 2rem;
  background: url("../images/image-hero-mobile.jpg") center no-repeat;
  background-size: cover;
}

nav::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 15rem 5rem -5rem rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 15rem 5rem -5rem rgba(0, 0, 0, 0.5);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 144rem;
  margin: 1rem auto 0;
}

.nav__logo {
  position: relative;
  z-index: 2;
}

.nav__desktop {
  display: none;
  width: 100%;
  text-align: right;
  z-index: 1;
}

.nav__desktop--link {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
  margin-left: 3.5rem;
  color: #fff;
}

.mobile-btn {
  position: relative;
  cursor: pointer;
  border: none;
  background: transparent;
  z-index: 2;
}

.mobile-btn__open-icon {
  display: block;
}

.mobile-btn__close-icon {
  display: none;
}

.mobile-linkbox {
  font-size: 1.6rem;
  position: absolute;
  inset: 0;
  width: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 9rem 2rem 0;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 100rem 100rem rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 100rem 100rem rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 1;
}

.mobile-linkbox li a {
  font-weight: 500;
  display: block;
  width: auto;
  padding: 2.5rem;
  border-bottom: 1px solid rgba(122, 122, 122, 0.1);
  color: black;
  cursor: pointer;
}

.mobile-linkbox li:nth-child(3) a {
  border-bottom: none;
}

.opened {
  display: block;
  opacity: 1;
}

.closed {
  display: none;
}

.overflow {
  overflow: hidden;
}

/* MAIN */
main {
  margin: 0 auto;
}

/* SECTION */
section {
  max-width: 73rem;
}

.general {
  position: relative;
  top: -5rem;
  margin: 0 2rem;
  border: 1px solid rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  background-color: #fff;
  padding: 5rem 2.5rem 4rem;
  margin: 0 2.5rem;
  text-align: center;
}

.general__logo {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  height: 5.5rem;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.general__heading {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 2rem 2rem;
}

.general__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
}

.general__mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn1 {
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  color: #fff;
  background-color: #3cb4ac;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1.6rem;
  height: 5.5rem;
  margin-top: 2.5rem;
  padding: 0rem 4.5rem;
}

.btn1:hover {
  background-color: #147b74;
}

.btn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5rem;
  border-radius: 100vw;
  border: none;
  background-color: rgba(122, 122, 122, 0.1);
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn2__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
  font-weight: 700;
  display: block;
}

.margin {
  margin: 0 2rem 0 1rem;
}

.btn2:hover {
  opacity: 0.7;
}

.btn2-img-bookmarked1 {
  fill: #fff;
}

.btn2-img-bookmarked2 {
  fill: #147b74;
}

.btn2-txt-bookmarked {
  color: #147b74;
}

.backers {
  position: relative;
  top: -5rem;
  margin: 0 2rem;
  border: 1px solid rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  background-color: #fff;
  margin: 2.5rem 2.5rem 0;
  padding: 2rem 2.5rem 4rem;
  text-align: center;
}

.backers__progress-bar {
  height: 1.3rem;
  width: 100%;
  background-color: rgba(122, 122, 122, 0.1);
  border-radius: 100vw;
}

.backers__progress-bar--bar {
  display: block;
  height: 100%;
  border-radius: 100vw;
  background-color: #3cb4ac;
}

.textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textarea__container {
  position: relative;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.textarea__container--text1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.textarea__container--text2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
  margin: 1rem 0;
}

.textarea__container:nth-of-type(1)::before, .textarea__container:nth-of-type(2)::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  width: 30%;
  border-bottom: 1px solid rgba(122, 122, 122, 0.3);
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.about {
  position: relative;
  top: -5rem;
  margin: 0 2rem;
  border: 1px solid rgba(122, 122, 122, 0.1);
  border-radius: 1rem;
  background-color: #fff;
  margin: 2.5rem 2.5rem 0;
  padding: 4rem 2.5rem;
}

.about__heading {
  font-size: 1.8rem;
  margin-bottom: 2.5rem;
}

.about__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
  margin-bottom: 3rem;
}

.product {
  padding: 2.5rem;
  margin-top: 2rem;
  border: 1px solid rgba(122, 122, 122, 0.3);
  border-radius: 1rem;
}

.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__top--heading {
  font-size: 1.4rem;
}

.product__top--price-text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #3cb4ac;
}

.product__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
  margin: 2rem 0;
}

.product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__bottom--amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
}

.product__bottom--amount .left {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7a7a7a;
}

.product__bottom--btn {
  font-weight: 500;
  border-radius: 100vw;
  border: none;
  color: #fff;
  background-color: #3cb4ac;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  font-size: 1.4rem;
  height: 5rem;
  padding: 0rem 3rem;
}

.product__bottom--btn:hover {
  background-color: #147b74;
}

footer {
  position: relative;
  top: -1rem;
  text-align: center;
}

/* DIALOGS */
.back-dialog {
  position: absolute;
  inset: 0;
  top: 12rem;
  max-width: 73rem;
  padding: 3.5rem 2.5rem;
  margin: 0 2.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(122, 122, 122, 0.3);
  background-color: #fff;
  z-index: 5;
}

.back-dialog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.5rem;
}

.back-dialog__heading--text {
  font-size: 1.8rem;
}

.back-dialog__heading--close-icon {
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.back-dialog__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
}

.back-dialog::-webkit-backdrop {
  background-color: darkorange;
  background-image: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.back-dialog::backdrop {
  background-color: darkorange;
  background-image: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
}

.product-dialog {
  padding: 3.5rem 2.5rem;
  margin: 2.5rem 0;
  border: 1px solid rgba(122, 122, 122, 0.3);
  border-radius: 1rem;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.product-info__input {
  height: 2.5rem;
  width: 2.5rem;
}

.product-info__textarea--label {
  font-size: 1.4rem;
  font-weight: 700;
}

.product-info__textarea--pledge {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1rem;
  color: #3cb4ac;
}

.product-text__text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5rem;
  color: #7a7a7a;
}

.product-stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 2rem;
}

.product-stock__left {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7a7a7a;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .nav__desktop {
    display: block;
  }
  .mobile-btn {
    display: none;
  }
  .general {
    padding: 5rem 4.5rem 4rem;
  }
  .backers {
    padding: 2rem 4.5rem 4rem;
  }
  .textarea {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .textarea__container {
    text-align: left;
    width: 100%;
  }
  .textarea__container:nth-of-type(2), .textarea__container:nth-of-type(3) {
    margin-left: 5%;
  }
  .textarea__container:nth-of-type(1)::before, .textarea__container:nth-of-type(2)::before {
    left: 100%;
    top: 5%;
    height: 70%;
    width: 0px;
    border-right: 1px solid rgba(122, 122, 122, 0.3);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .about {
    padding: 4rem 4.5rem;
  }
  .product__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__top--price-text {
    margin-top: 0rem;
  }
  .product__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .product__bottom--amount {
    margin-bottom: 0rem;
  }
}

@media (min-width: 992px) {
  nav {
    background: url("../images/image-hero-desktop.jpg") center no-repeat;
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */